body {
  background: #f4f6ff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: block;
  grid-auto-rows: minmax(150px, auto);
  /* grid-template-columns:  */
  height: 100vh;
  background: f4f6ff;
  color: #ea907a;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}


body .entry {
  background: rgba(59, 74, 107, 1);
  /* margin-top: 40px; */
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
  color: #ffcb74;
}

#entryHolder {
  position: relative;
  display: inline;
}



/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #4f8a8b;
  color: #ffcb74;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

button {
  width: 400px;
  height: 100px;
  background: #3b4a6b;
  color: #ffcb74;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #4f8a8b;
  color: #ffcb74;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #ffcb74;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffcb74;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffcb74;
  font-family: "Oswald", sans-serif;
}
